/* Things that affect a large part of the page */
* {
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/concrete_seamless.png");
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
}

/* Header */
header {
    background-color:#ffffff;
    height: 70px;
    border-bottom: solid 2px #cccccc;
}

.headerDiv {
    background-color: green;
    width: 960px;
    margin: 0 auto;
}

nav {
    float: right;
    padding-top: 25px;
}

/* Text Qualities */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    margin: 0; 
    float: left;
    padding: 16px 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: #4aaaa5;
}

a {
    text-decoration: none;
    color: #cccccc;
    margin-top: 0;
    margin-left: 20px;
}

p {
    color: #777777;
}

/* Main Section of Page*/

section {
    background-color: #ffffff;
    width: 960px;
    margin: 30px auto;
    padding: 30px;
    border: solid 1px #dddddd;
    overflow: auto;
    line-height: 1.5em;
}

img {
    float: left;
    margin: 15px 15px 10px 0px;
    width: 220px;
}

/* Contact Page Form */

form > p {
    margin-bottom: 0;
}

input {
    width: 100%;
    height: 30px;
}

textarea {
    width: 100%;
    height: 200px;
}

#submitButton {
    font-size: 15px;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 90px;
    height: 40px;
    margin-top: 8px;
}

/* Portfolio page photos
(All photos are freely usable and were downloaded from unsplash.com) */

.imgDiv {
    position: relative;
    width: 30%;
    height: 200px;
    float: left;
}
.portPicture {
    width: 100%;
    margin: 0;
}

.portButton {
    z-index: 2; 
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 100%;
    padding: 15px;
    margin: 0;
    position: absolute;
    bottom: 20px;
    left:0;
}

/* Footer */

footer {
    text-align: center;
    width: 100%;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    padding-top: 20px;
    height: 50px;
    position: fixed;
    bottom: 0;  
    left: 0;
    color: white;
    font-size: 10px;
    z-index: 1000;
}